streamlit==1.36.0
plotly==5.23.0
langchain==0.2.12
langchain-openai==0.1.7
langchainhub==0.1.16
openai==1.37.0
faiss-cpu==1.8.0
pypdf==4.2.0
yfinance==0.2.43
torch==2.3.0
torchvision==0.22.1
sentence-transformers==2.7.0
transformers==4.41.2
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
matplotlib==3.8.4
python-dotenv==1.0.1
tqdm==4.66.4
